# docker-compose.yml (Versão final para AWS)
services:
  # API Gateway é o ponto de entrada único
  api-gateway:
    build: ./api-gateway
    image: 151567229120.dkr.ecr.us-east-1.amazonaws.com/chat-api-gateway:latest
    restart: always
    ports:
      - "8080:80"
    depends_on:
      - frontend
      - servico-autenticacao
      - servico-mensagens

  servico-autenticacao:
    build:
      context: ./backend/servico-autenticacao
    image: 151567229120.dkr.ecr.us-east-1.amazonaws.com/chat-servico-autenticacao:latest
    restart: always
    expose:
      - "18080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:18080/health"]
      interval: 10s
      timeout: 5s
      retries: 5

  # Serviço de Mensagens em Python com WebSocket
  servico-mensagens:
    build:
      context: ./backend/servico-mensagens
    image: 151567229120.dkr.ecr.us-east-1.amazonaws.com/chat-servico-mensagens:latest
    restart: always
    expose:
      - "18081"
    # ✅ NOVO: Healthcheck adicionado
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:18081/health"]
      interval: 10s
      timeout: 5s
      retries: 5
    depends_on:
      servico-autenticacao:
        condition: service_healthy

  # Frontend React servido por Nginx
  frontend:
    build:
      context: ./frontend
    image: 151567229120.dkr.ecr.us-east-1.amazonaws.com/chat-frontend:latest
    restart: always
    expose:
      - "80"

volumes: {}